body {
    font-family: 'Inter', sans-serif;
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-collapse {
        display: flex !important;
        flex-basis: auto;
        justify-content: flex-end;
    }

    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 1rem ;
        padding-left: 1rem;
    }
}

.contato {
    color: #ed7241;
    border: 1px solid #ed7241;
    border-radius: 10px;
}

.hero {
    background-image: url('images/hero.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 98vh;
}

.hero-cta {
    padding-left: 1.8rem;
}

.chamada {
    width: 78vh;
    heigh: 48px;
    background-image: url('images/bg-h1-head.png');
    background-repeat: no-repeat;
    background-position: right center;
    background-size: contain;
    margin-top: 50vh;
    padding: 0px 5px 0px 30px;
    height: 25vh;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.chamada h1 {
    font-size: 2rem;
    text-align: left;
    color: #000000;
    font-weight: bold;
}

.botao-reserva {
    color: #ed7241;
    border: 1px solid #ed7241;
    border-radius: 10px;
    font-size: 2rem;
    font-weight: bold;
    background-color: #000000;
}

.sobre h2 {
    font-weight: bold;
    font-size: 2.5rem;
    color: #ffffff;
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
}

.sobre {
    background-color: #000000;
    width: 100%;
}

.aboutbg {
    background: #E0E0E0;
}

.about p {
    font-size: 1.3rem;
    text-align: left;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

.diferenciais h3 {
    font-family: 'Inter', sans-serif;
    font-size: 2.5rem;
    color: #C1391B;
    font-weight: 700;
    text-align: left;
    margin-bottom: 48px;
}

.card-dif {
    width: 100%;
    background-color: #ffffff;
    border-radius: 30px;
    box-shadow: 0px 5px 10px #000000;
    margin: 0;
    padding: 10px;
}

.card-dif-img {
    margin-bottom: 28px;
}

.card-dif h4 {
    font-family: 'Inter', sans-serif;
    color: #000000;
    font-weight: 700;
    font-size: 1.3rem;
    margin-bottom: 0px;
    text-align: center;
}

.card-dif p {
    font-family: 'Inter', sans-serif;
    font-size: 1.2rem;
    text-align: center;
    line-height: 1.25rem;
}

.dif-title {
    margin-bottom: 10px;
    height: 4rem;
}

.frota h3 {
    font-family: 'Inter', sans-serif;
    font-size: 3.43rem;
    color: #C1391B;
    font-weight: 700;
    text-align: left;
    margin-bottom: 48px;
}

.frota .title {
    width: 100%;
    height: 438px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.frota-title {
    width: 100%;
    height: 4rem;
}

.slider {
    height: 100%;
    width: 100%;
    background-color: #000000;
}

.slide-title {
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-left: 21px;
    padding-right: 21px;
}

.slide-title-car {
    padding-top: 5px;
    padding-bottom: 5px;
}

.slide-title-car h3 {
    font-family: 'Inter', sans-serif;
    font-size: 3rem;
    font-weight: 700;
    color: #ffffff;
}

.slide-title-car h3 span {
    color: #c4c4c4;
}

.slide-container {
    width: 100%;
    max-width: 1254px;
    padding-left: 21px;
    padding-right: 21px;
}

.slide-row {
    width: 100%;
    max-width: 1254px;
    flex-direction: row;
    display: flex;
}

.slide-colum {
    padding-right: 14px;
    padding-left: 14px;
}

.botao-alugue {
    height: 69px;
    color: #ed7241;
    border: 1px solid #ed7241;
    border-radius: 40px;
    font-size: 2rem;
    font-weight: bold;
    margin: auto;
}

.botao-alugar {
    display: flex;
    justify-content: center;
}

.btn-container {
    text-align: center;
}

.btn-alugue-container {
    margin-top: 74px;
    width: 100%;
    max-width: 1254px;
    margin-bottom: 15px;
    text-align: center;
}

.carousel-indicators [data-bs-target] {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 10px;
    height: 10px;
    padding: 0;
    margin-right: 10px;
    margin-left: 10px;
    text-indent: -999px;
    cursor: pointer;
    background-color: rgb(93, 93, 93);

    /* background-color: rgb(222, 78, 20); */
    background-clip: padding-box;
    border: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: .5;
    transition: opacity .6s ease;
    border-radius: 100%;
}

.carousel-indicators {
    position: absolute;
    right: 0;
    bottom: 55px;
    left: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    padding: 0;
    margin-right: 15%;
    margin-bottom: 3rem;
    margin-left: 15%;
    list-style: none;
}

.carousel-indicators .active {
    opacity: 1;
    background-color: rgb(222, 78, 20);
}

.carousel-control-prev {
    position: absolute;
    top: 0px;
    bottom: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: left;
    width: 15%;
    padding: 0;
    color: #fff;

    /* background-color: rgb(222, 78, 20); */
    text-align: center;
    background: 0 0;
    border: 0;

    /* opacity: .5; */
    opacity: 0.4;
    transition: opacity .15s ease;
}

.carousel-control-next {
    position: absolute;
    top: 0px;
    bottom: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: right;
    width: 15%;
    padding: 0;
    color: #fff;

    /* background-color: rgb(222, 78, 20); */
    text-align: center;
    background: 0 0;
    border: 0;

    /* opacity: .5; */
    opacity: 0.4;
    transition: opacity .15s ease;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 100% 100%;
    background-color: rgb(222, 78, 20);
    border-radius: 100%;
}

#form {
    background: #d9d9d9;
    margin-bottom: 0px;
    padding-bottom: 10px;
    padding-top: 5px;
}

.form-contato {
    background: #d9d9d9;
}

.contato-img {
    background-image: url('images/homem-feliz.png');
    max-height: 512px;
    background-position: center center;
    background-size: cover;
    background-clip: padding-box;
}

.form-contato {
    margin: 10px;
}

.form-contato h3 {
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
}

.frota-title h3 {
    font-family: 'Inter', sans-serif;
    font-size: 3rem;
    text-align: center;
    color: #000000;
    font-weight: 700;
}

.slide-column ul {
    font-family: 'Inter', sans-serif;
    font-size: 1.4rem;
}

.about-title {
    background-color: #000000;
    margin: 0;
    padding-top: 0;
}

.navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;

    /* background-image: var(--bs-navbar-toggler-icon-bg); */
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8' standalone='no'%3F%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg width='100%25' height='100%25' viewBox='0 0 30 30' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xml:space='preserve' xmlns:serif='http://www.serif.com/' style='fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-miterlimit:10;'%3E%3Cpath d='M4,7l22,0m-22,8l22,0m-22,8l22,0' style='fill:none;fill-rule:nonzero;stroke:%23fff;stroke-width:2px;'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

*,
::after,
::before {
    box-sizing: border-box;
}

.slide-desc {
    font-family: 'Inter', sans-serif;
    font-size: 1.3rem;
    color: #ffffff;
}

.difCards {
    align-content: stretch;
}

.card-dif2 {
    background-color: #ffffff;
    border-radius: 30px;
    box-shadow: 0px 5px 10px #000000;
    margin: 0;
    padding: 10px;
}

.rowCard {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    width: 100wh;
}

.card-dif2 h4 {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    text-align: center;
}

.card-dif2 p {
    text-align: center;
}

.botao-reserva:hover {
    color: #ed7241;
    border: 1px solid #ed7241;
    border-radius: 10px;
    font-size: 2rem;
    font-weight: bold;
    background-color: #cccccc;
}

.frota {
    background-image: url('images/banner-nossa-frota.png');
    background-repeat: no-repeat;
    background-position: center center;
}

#quero-alugar {
    background-color: #909090;
}

.emailContato a {
    text-decoration: none;
    color: #ffffff;
}

.frotatotal {
    display: flex;
    flex-wrap: nowrap;
}

@media (max-width:767px) {
    .hero {
        background-image: url(images/hero.jpg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        height: 100vh;
    }

    .hero-cta {
        padding-left: 1.8rem;
    }

    .logo {
        width: 150px;
        height: 62px;
    }

    .chamada h1 {
        font-size: 1.5rem;
        text-align: left;
        color: #000000;
        font-weight: bold;
        margin-left: 15px;
        margin-top: 45px;
    }

    .chamada {
        width: 54vh;
        height: 26vh;
        margin-top: 46vh;
        padding: 0px 5px 52px;
        display: flex;
        flex-direction: row;
        align-items: center;
        background-image: url('images/bg-h1-head.png');
        font-family: 'Inter', sans-serif;
        color: #000000;
        background-repeat: no-repeat;
        background-position: right center;
        background-size: auto;
        margin-bottom: 46px;
    }

    .botao-reserva {
        /* width: 30vh; */
        color: #ed7241;
        border: 1px solid #ed7241;
        border-radius: 10px;
        font-size: 1.3rem;
        font-weight: bold;
        background-color: #000000;
    }

    .dif-title {
        height: 6rem;
    }

    .card-dif h4 {
        font-family: 'Inter', sans-serif;
        color: #000000;
        font-weight: 700;
        font-size: 1.1rem;
        margin-bottom: 0px;
        text-align: center;
    }

    .slide-title-car h3 {
        font-family: 'Inter', sans-serif;
        font-size: 1.4rem;
        font-weight: 700;
        color: #ffffff;
    }

    .card-dif p {
        font-family: 'Inter Tight', sans-serif;
        font-size: 1rem;
        text-align: center;
        line-height: 1.25rem;
    }

    .botao-alugue {
        height: 50px;
        color: #ed7241;
        border: 1px solid #ed7241;
        border-radius: 40px;
        font-size: 1.2rem;
        font-weight: bold;
        display: block;
        margin: auto;
    }

    .contato {
        color: #ed7241;
        border: 1px solid #ed7241;
        border-radius: 10px;
        text-align: center;
    }

    .rowCard {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: 1fr;
        gap: 20px;
    }

    .about p {
        font-size: 1.3rem;
        text-align: left;
        font-family: 'Inter', sans-serif;
        font-weight: 400;
    }

    .frotatotal {
        display: flex;
        flex-wrap: wrap;
    }
}

.modelos .slide-title-car h3 {
    text-align: center;
}

.modelos {
    justify-content: center;
}

.modelos {
    position: relative;
    bottom: -123px;
}

.modelos h3 {
    /* color: #ED7241; */
    color: #FFFFFF;
    text-shadow: 8px 3px 10px #000000;
}

